
@{
    ViewBag.Title = "Services";
}<h2>Services</h2>
<h3>Services By <a href="~/Home/Location/">Location</a></h3>
<ul>
    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Belconnen/">
                <img src="~/Images/belconnen.jpg"class="services-type-logo" />
                <div class="services-type-text">
                    <h4>Belconnen</h4>
                    <p>Services located close to the Belconnen town centre</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Gungahlin/">
                <img src="~/Images/gungahlin.jpg"class="services-type-logo" />
                <div class="services-type-text">
                    <h4>Gungahlin</h4>
                    <p>Services located close to the Gungahlin town centre</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Woden/">
                <img src="~/Images/woden.jpg"class="services-type-logo" />
                <div class="services-type-text">
                    <h4>Woden</h4>
                    <p>Services located close to the Woden town centre</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Civic/">
                <img src="~/Images/civic.jpg" class="services-type-logo" />
                <div class="services-type-text">
                    <h4>Civic</h4>
                    <p>Services located close to the Civic town centre</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Tuggeranong/">
                <img src="~/Images/tuggeranong.jpg" class="services-type-logo" />
                <div class="services-type-text">
                    <h4>Tuggeranong</h4>
                    <p>Services located close to the Tuggeranong town centre</p>
                </div>
            </a>
        </div>
    </li>
</ul>
<h3>Services by <a href="~/Home/Type/">Type</a></h3>
<ul>
    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/diversityinclusion">
                <img src="~/Images/diversityinclusion.png" class="services-type-logo" id="diversityinclusion" />
                <div class="services-type-text">
                    <h4>Diversity and Inclusion</h4>
                    <p> All services which specifically cater to minority group and promote inclusion and diversity.</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/familycommunity">
                <img src="~/Images/familycommunity.png" class="services-type-logo" id="familycommunity" />
                <div class="services-type-text">
                    <h4>Family and Community</h4>
                    <p> All services which work with families and help people to integrate into the community.</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/healthwellbeing">
                <img src="~/Images/healthwellbeing.png" class="services-type-logo" id="healthwellbeing" />
                <div class="services-type-text">
                    <h4>Health and Wellbeing</h4>
                    <p> All services which can improve your health and wellbeing. This includes mental and physical health and wellbeing.</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/jobsemployment">
                <img src="~/Images/jobsemployment.png" class="services-type-logo" id="jobsemployment" />
                <div class="services-type-text">
                    <h4>Jobs and Employment</h4>
                    <p> All services which can provide you with employment and equip you with the skills and things you need to become employed.</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/familycommunity">
                <img src="~/Images/legalfinancialicon.png" class="services-type-logo" id="legalfinancial" />
                <div class="services-type-text">
                    <h4>Legal and Financial</h4>
                    <p> All services which can provide you with legal and financial advice or assistance.</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Shelter">
                <img src="~/Images/shelterIcon.png" class="services-type-logo" id="shelter" />
                <div class="services-type-text">
                    <h4>Shelter</h4>
                    <p> All services which can provide long and short term accodomodation, and service which can help you to find accomodation.</p>
                </div>
            </a>
        </div>
    </li>

    <li class="services-type">
        <div class="services-type-listitem">
            <a href="~/Home/Mealsfood">
                <img src="~/Images/mealsfoodicon.png" class="services-type-logo" id="mealsfood" />
                <div class="services-type-text">
                    <h4>Meals and Food</h4>
                    <p> All services which can provide meals to eat or food at low or no cost.</p>
                </div>
            </a>
        </div>
    </li>
</ul>




